@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>Rich Brony Catering</h3>

<address>
    Indonesian food specialist catering<br />
    Poji, WA 088382818888<br />
</address>

<address>
    <strong>Marketing:</strong>   <a href="mailto:Support@example.com">cuco@gmail.com</a>
</address>